<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<style>
{% include framework.css %}
</style>
<style>
{% include hero.css %}
</style>
</head>

<body>
<table class="body">
<tr>
<td class="center" align="center" valign="top">
<center>

<!-- HEADER -->
{% include header-mail.html %}
<!-- /HEADER -->

<table class="container">
<tr>
<td>

<!-- TITLE, LEAD AND IMAGE -->
{% if page.title or page.lead or page.main_image %}
{% include title_lead_image-mail.html %}
{% endif %}
<!-- /TITLE, LEAD AND IMAGE -->

<!-- EMAIL MAIN BODY -->
{{ page.content }}
<!-- /EMAIL MAIN BODY -->

<!-- ACTION BUTTON -->
{% if page.action_button  %}
{% include action_button-mail.html %}
{% endif %}
<!-- /ACTION BUTTON -->	

<!-- NEWSLETTER -->
{% if page.articles %}
{% include article_list-mail.html %}
{% endif %}
<!-- /NEWSLETTER -->

<!-- SHARE+DONATE -->
{% if page.share and page.donate %}
{% include share_donate-mail.html %}
{% endif %}
<!-- /SHARE+DONATE -->

<!-- UNSUBSCRIBE TEXT -->
{% include unsubscribe.html  %}
<!-- /UNSUBSCRIBE TEXT -->


</td>
</tr>
</table><!-- /container -->

</center>
</td>
</tr>
</table>
</body>
</html>